<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>part4</servlet-name>
        <servlet-class>part4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part4</servlet-name>
        <url-pattern>/part4</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>part3</servlet-name>
        <servlet-class>part3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part3</servlet-name>
        <url-pattern>/part3</url-pattern>
    </servlet-mapping>
      
    <servlet>
        <servlet-name>part6</servlet-name>
        <servlet-class>Part6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part6</servlet-name>
        <url-pattern>/Part6</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>part7</servlet-name>
        <servlet-class>Part7</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part7</servlet-name>
        <url-pattern>/Part7</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>part8</servlet-name>
        <servlet-class>Part8</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part8</servlet-name>
        <url-pattern>/Part8</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>part9</servlet-name>
        <servlet-class>Part9</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part9</servlet-name>
        <url-pattern>/Part9</url-pattern>
    </servlet-mapping>
    
<!--    <security-constraint>
        <web-resource-collection>
    <servlet>
        <servlet-name>part5</servlet-name>
        <servlet-class>part5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>part5</servlet-name>
        <url-pattern>/part5</url-pattern>
    </servlet-mapping>
            </web-resource-collection>
            <auth-constraint>
                <role-name>mingda</role-name>
            </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>-->
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>part5</web-resource-name>
            <url-pattern>/part5</url-pattern>
        </web-resource-collection>
            <auth-constraint>
                <role-name>mingda</role-name>
            </auth-constraint>
    </security-constraint>
     <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
      
        <welcome-file>index.html</welcome-file>
        
    </welcome-file-list>
</web-app>
